
/* allow map to fill viewport */
html, body, .container-fluid
{
    /* height of these elements */
    height: 100%;

    /* no margin around these elements */
    margin: 0;

    /* disable scrollbars */
    overflow: hidden;

    /* no padding within these elements */
    padding: 0;
}


.container-fluid
{
    /* block-level flex container */
    display: flex;

    /* center container's content */
    justify-content: center;
}

